parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$requestIp of static method Symfony\\\\Component\\\\HttpFoundation\\\\IpUtils\\:\\:checkIp\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Http/Middleware/RejectBlockedIpAddress.php

		-
			message: "#^Parameter \\#2 \\$value of function ini_set expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/IniOptionsHandler.php

		-
			message: "#^Access to an undefined property React\\\\Socket\\\\ConnectionInterface\\:\\:\\$stream\\.$#"
			count: 1
			path: src/ReactPhpServer.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string, string\\|null given\\.$#"
			count: 1
			path: src/ReactPhpServer.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: src/ReactPhpServer.php

		-
			message: "#^Property BabDev\\\\WebSocket\\\\Server\\\\ReactPhpServer\\:\\:\\$socket is never read, only written\\.$#"
			count: 1
			path: src/ReactPhpServer.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/Session/Middleware/InitializeSession.php

		-
			message: "#^Method BabDev\\\\WebSocket\\\\Server\\\\Session\\\\Reader\\\\PhpSerializeReader\\:\\:read\\(\\) should return array but returns mixed\\.$#"
			count: 1
			path: src/Session/Reader/PhpSerializeReader.php

		-
			message: "#^Property BabDev\\\\WebSocket\\\\Server\\\\Session\\\\Storage\\\\Proxy\\\\ReadOnlySessionHandlerProxy\\:\\:\\$sessionName \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Session/Storage/Proxy/ReadOnlySessionHandlerProxy.php

		-
			message: "#^Property Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:\\$saveHandlerName \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: src/Session/Storage/Proxy/ReadOnlySessionHandlerProxy.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:getId\\(\\)\\.$#"
			count: 2
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:getName\\(\\)\\.$#"
			count: 2
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:isSessionHandlerInterface\\(\\)\\.$#"
			count: 2
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:isWrapper\\(\\)\\.$#"
			count: 2
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:open\\(\\)\\.$#"
			count: 1
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:read\\(\\)\\.$#"
			count: 1
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:setActive\\(\\)\\.$#"
			count: 2
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Call to an undefined method SessionHandlerInterface\\|Symfony\\\\Component\\\\HttpFoundation\\\\Session\\\\Storage\\\\Proxy\\\\AbstractProxy\\:\\:setId\\(\\)\\.$#"
			count: 1
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: src/Session/Storage/ReadOnlyNativeSessionStorage.php

		-
			message: "#^Parameter \\#1 \\$data of method BabDev\\\\WebSocket\\\\Server\\\\Connection\\:\\:send\\(\\) expects string, Ratchet\\\\RFC6455\\\\Messaging\\\\DataInterface\\|string given\\.$#"
			count: 1
			path: src/WAMP/DefaultWAMPConnection.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
			count: 2
			path: tests/Http/Middleware/RejectBlockedIpAddressTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
			count: 2
			path: tests/Http/Middleware/RestrictToAllowedOriginsTest.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_contains expects string, string\\|null given\\.$#"
			count: 1
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_close expects Socket, Socket\\|false given\\.$#"
			count: 3
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_connect expects Socket, Socket\\|false given\\.$#"
			count: 3
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_set_block expects Socket, Socket\\|false given\\.$#"
			count: 3
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_set_option expects Socket, Socket\\|false given\\.$#"
			count: 6
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_shutdown expects Socket, Socket\\|false given\\.$#"
			count: 6
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Parameter \\#1 \\$socket of function socket_write expects Socket, Socket\\|false given\\.$#"
			count: 2
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Property BabDev\\\\WebSocket\\\\Server\\\\Tests\\\\ReactPhpServerTest\\:\\:\\$port \\(int\\) does not accept int\\|false\\|null\\.$#"
			count: 1
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Property BabDev\\\\WebSocket\\\\Server\\\\Tests\\\\ReactPhpServerTest\\:\\:\\$server is never read, only written\\.$#"
			count: 1
			path: tests/ReactPhpServerTest.php

		-
			message: "#^Class UnknownClass not found\\.$#"
			count: 1
			path: tests/WAMP/MessageHandler/DefaultMessageHandlerResolverTest.php

		-
			message: "#^Class UnknownClass not found\\.$#"
			count: 1
			path: tests/WAMP/MessageHandler/PsrContainerMessageHandlerResolverTest.php

		-
			message: "#^Method BabDev\\\\WebSocket\\\\Server\\\\Tests\\\\WAMP\\\\Middleware\\\\ParseWAMPMessageTest\\:\\:testOnMessageForCallMessage\\(\\) has parameter \\$args with no type specified\\.$#"
			count: 1
			path: tests/WAMP/Middleware/ParseWAMPMessageTest.php
